.container {
  padding: 0px 10px;
  margin: auto !important;
}
.country__bottom {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country__card {
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  color: #faf5e9;
  background-color: #1b3439;
}

.country__img img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}

.all__country__wrapper {
  margin-top: 50px;
}

.country__data {
  padding: 10px;
}

.country__data h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 100;
}

.country__data h6 {
  margin-bottom: 10px;
  font-weight: 400;
  opacity: 80%;
}

.country__bottom h4 {
  color: #faf5e9;
  text-align: center;
  margin-top: 15px;
}
.country_top{
  border-radius: 5px;
  padding: 0% 2% ;
  margin-bottom: 5%;
  box-shadow: 0 0 1px 2px #faf5e9;
  position: relative;
  height: 60px;
}
input{
  font-size: 15px;
  font-family: Gurajada;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  width: 180px;
  padding: 0% 1%;
  background-color:#1b3439;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #faf5e9;
  display: flex;
  position: absolute;
  left: 5%;
  bottom: 15%;
}

::placeholder{
  color: #faf5e9;
}
.option{
  height: 40px;
  width: 90px;
  color: #faf5e9;
  font-size: 15px;
  font-family: Gurajada;
  font-style: normal;
  font-weight: 400;
}
.filter_container{
  display: flex;
  position: absolute;
  left: 30%;
  bottom: 15%;
  gap: 2%;
  
}


