.navbar {
  background: #234349;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
  font-size: 20px;
  font-family: Gurajada;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 3px solid #FAF5E9;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #FAF5E9;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-family: Gurajada;
  flex-grow: 1;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #FAF5E9;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: Gurajada;
  border-bottom: 3px solid transparent;
  font-weight: 600;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #f5d659;
}

.nav-item .active {
  color: #f5d659;
  border: 1px solid #f5d659;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #234349;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #f5d659;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
      color: #000;
      font-size: 30px;
      font-family: Gurajada;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
}